.student-card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background-color: #f8faff;
  border-radius: 10px;
}

.student-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
  /* background-color: #eef5ff; */
}
